<a href="https://colab.research.google.com/github/smaciasg/Ejercicios_DataScience_Coding_Dojo/blob/main/Ejercicio_de_preprocesamiento_de_abalones_(base).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DESCRIPCIÓN EJERCICIO**

Utilicen el conjunto de datos de abalones para predecir el número de anillos a partir de las medicines físicas utilizando la regresión linear.

#**PRIMERA TAREA**

Tareas:

1) Separar los datos en un matriz de características (X) y un vector objetivo (y).

2) Crear un train test split en los datos. Utilicen un número aleatorio 42 por coherencia.

3) Utilizar transformadores de columna para transformar las columnas adecuadas

Para las transformaciones de columna:

    a) Utilizar selectores de columnas para seleccionar las columnas categóricas y las columnas numéricas

    b) Utilizar un OneHotEncoder para codificar las columnas categóricas

    c) Utilizar StandardScaler para escalar columnas numéricas

    d) Utilizar un ColumnTransformer para emparejar la transformación al tipo de columna

    e) Transformar los datos y mostrar los arrays de NumPy resultantes

####**1) Llamar las librerías necesarias**

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

####**2) Importar los datos y explorarlos**

In [16]:
data_abalones = pd.read_csv('/content/drive/MyDrive/CODING DOJO/DATA SCIENCE/ACTIVIDADES SEMANA 5 - INTRO APRENDIZAJE AUTOMÁTICO ML/abalone.data', names=['Sex','Length','Diameter','Height','Whole weight','Shucked weight','Viscera weight','Shell weight','Rings'])
data_abalones

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [17]:
data_abalones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [12]:
data_abalones.columns

Index(['M', '0.455', '0.365', '0.095', '0.514', '0.2245', '0.101', '0.15',
       '15'],
      dtype='object')

7. Attribute information:

   Given is the attribute name, attribute type, the measurement unit and a
   brief description.  The number of rings is the value to predict: either
   as a continuous value or as a classification problem.

	Name		Data Type	Meas.	Description
	----		---------	-----	-----------
	Sex		nominal			M, F, and I (infant)
	Length		continuous	mm	Longest shell measurement
	Diameter	continuous	mm	perpendicular to length
	Height		continuous	mm	with meat in shell
	Whole weight	continuous	grams	whole abalone
	Shucked weight	continuous	grams	weight of meat
	Viscera weight	continuous	grams	gut weight (after bleeding)
	Shell weight	continuous	grams	after being dried
	Rings		integer			+1.5 gives the age in years

####**3) Crear matriz de características y vector objetivo**

In [18]:
X = data_abalones.drop(columns = 'Rings')
y = data_abalones['Rings']
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

####**4) Crear los selectores de columnas categóricas y numéricas**

In [19]:
number_selector = make_column_selector(dtype_include='number')
category_selector = make_column_selector(dtype_include='object')

####**5) Instanciar los transformadores numérico y categórico**

In [20]:
# Transformador numérico
scaler = StandardScaler()
# Transformador categórico
ohe = OneHotEncoder(handle_unknown='ignore')

####**6) Crear tuplas entre el transformador y los selectores**

In [21]:
number_tuple = (scaler, number_selector)
category_tuple = (ohe, category_selector)

####**7) Instanciar el ColumnTransformer**

In [22]:
col_transformer = make_column_transformer(number_tuple,category_tuple, remainder='passthrough')

####**8) Ajustar el transformador - SOLO SE AJUSTAN LOS DATOS DE ENTRENAMIENTO**

In [23]:
col_transformer.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f7dc36eabd0>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f7dc36eab90>)])

####**9) Transformación de los datos de entrenamiento y de los de prueba**

In [24]:
X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

####**10) Crear DataFrames para ver la transformación de los datos de entrenamiento y de los de prueba**

In [25]:
X_train_df = pd.DataFrame(X_train_processed)
X_train_df

,0,1,2,3,4,5,6,7,8,9
0,0.749291,0.464226,-0.118869,0.457447,0.499098,0.743973,0.241135,1.0,0.0,0.0
1,-0.090254,-0.144654,-0.001647,-0.301655,-0.364269,-0.514040,-0.145838,1.0,0.0,0.0
2,1.127086,1.225326,0.818910,1.523852,1.692114,1.544526,1.179902,0.0,0.0,1.0
3,-0.593980,-0.449095,-1.056649,-0.651696,-0.617673,-0.738195,-0.647469,0.0,0.0,1.0
4,-0.258163,-0.093914,0.350020,-0.052352,-0.572823,-0.605532,0.785763,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
3127,-0.300140,-0.093914,-0.587759,-0.539765,-0.476395,-0.449995,-0.683300,1.0,0.0,0.0
3128,1.211040,1.428286,1.170577,1.132090,0.808565,1.114515,1.144071,1.0,0.0,0.0
3129,-0.132231,-0.144654,-0.353314,-0.516361,-0.530215,-0.440846,-0.375155,0.0,0.0,1.0
3130,0.413473,0.565706,-0.470537,0.446253,0.689711,0.336834,-0.038345,0.0,0.0,1.0
3131,0.581382,0.667186,0.467243,0.623309,0.828747,0.451199,0.219636,1.0,0.0,0.0

In [26]:
X_test_df = pd.DataFrame(X_test_processed)
X_test_df

,0,1,2,3,4,5,6,7,8,9
0,0.665336,0.464226,0.467243,0.548010,0.263634,1.096216,0.606609,0.0,0.0,1.0
1,0.539405,0.312006,0.232798,0.077896,0.111143,0.304812,0.033316,0.0,0.0,1.0
2,0.287541,0.362746,1.287800,0.298707,-0.256629,0.391729,0.678271,1.0,0.0,0.0
3,0.917200,0.819406,0.701688,0.869559,0.790624,0.775995,1.000748,1.0,0.0,0.0
4,-0.426072,-0.246134,0.115576,-0.441061,-0.570580,-0.674150,-0.181669,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1040,-0.468049,-0.398355,-0.470537,-0.740224,-0.797074,-0.697023,-0.611638,0.0,1.0,0.0
1041,0.455450,0.514966,0.232798,0.370954,0.577586,0.359707,0.176639,0.0,0.0,1.0
1042,0.917200,1.022366,1.053355,0.964193,0.815292,1.247178,0.979249,0.0,0.0,1.0
1043,-0.552003,-0.347615,-0.001647,-0.658819,-0.763437,-0.706173,-0.253330,0.0,0.0,1.0
1044,0.035678,-0.246134,-0.353314,-0.335234,-0.328389,-0.280736,-0.432484,1.0,0.0,0.0